{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "prettier", "react-hooks"],
  "extends": [
    "airbnb",
    "prettier",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "parserOptions": {
    "sourceType": "module"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["."],
        "extensions": [".ts", ".tsx"]
      }
    }
  },
  "globals": {
    "document": true,
    "navigator": true,
    "cy": true,
    "fetch": true,
    "requestAnimationFrame": true,
    "cancelAnimationFrame": true,
    "window": true
  },
  "rules": {
    "@typescript-eslint/no-unused-vars": [
      "warn",
      { "ignoreRestSiblings": true, "caughtErrors": "none", "args": "after-used" }
    ],
    "no-shadow": "off",
    "@typescript-eslint/no-var-requires": 0,
    "@typescript-eslint/triple-slash-reference": "error",
    "react/jsx-uses-vars": "error",
    "react/jsx-uses-react": "error",
    "react-hooks/exhaustive-deps": "warn",
    "import/prefer-default-export": 0,
    "import/extensions": 0,
    "import/no-unresolved": 0,
    "react/no-array-index-key": 0,
    "no-param-reassign": 0,
    "react/function-component-definition": 0,
    "import/no-named-as-default": 0,
    "react/jsx-props-no-spreading": 0,
    "no-plusplus": 0,
    "react/require-default-props": 0,
    "react/jsx-filename-extension": 0
  }
}
